<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>File Attachment</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <p>QR code</p>
  <br>
  <p>{{info}}</p>
  <br>
  <ngx-qrcode class="qr-code"
              [elementType]="elementType"
              [value]="qrData"
              [errorCorrectionLevel]="correctionLevel">
  </ngx-qrcode>

  <br>

  <p>Прикрепленный файл</p>
  <br>
  <img class="attach" alt="Здесь будет файл" [src]="imgContent">
</div>
